@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

$white: #fafafa;
$gray: #696969;
$black: #141414;
$black-2: #0a0908;
$soft-gray: #f1f1f1;
$red: #F03434;

$main-font: 'Archivo', sans-serif;