@import '../variables.scss';
@import '../mixins.scss';

.container__form {
    margin: 0 auto;
    max-width: 100%;
    width: 50rem;

    .container__form_flex {
        display: flex;
        justify-content: space-between;

        fieldset:first-child {
            margin-right: 2rem;
        }
    }

    .container__form_title {
        margin-bottom: 5rem;
        font-size: 4rem;
        font-weight: 700;
    }

    .container__form_error {
        width: 100%;
        margin-bottom: 2rem;
        background-color: rgba($red, .15);
        color: $red;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: .5rem;
        padding: 1rem;
        text-align: center;
    }

    fieldset {

        border: none;
        margin-bottom: 2rem;
        position: relative;

        small {
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            bottom: -1.7rem;
            color: $soft-red;
            font-weight: 500;

            svg {
                margin-right: .2rem;
            }
        }

        label {
            font-size: 1.5rem;
            font-weight: 600;
        }

        input,
        .textarea {
            margin-top: 1rem;
            background-color: $soft-gray;
            border: none;
            border: 1.5px solid transparent;
            border-radius: .5rem;
            padding: 1.5rem;
            width: 100%;
            outline: none;
            color: inherit;
            font-family: inherit;
            font-size: 1.5rem;
            caret-color: $soft-red;

            &:focus {
                border-color: $gray;
            }
        }

        .textarea {
            resize: none;
            height: 15rem;
            overflow-y: auto;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    }

    .container__form_image {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        max-width: 100%;
        width: 15rem;
        height: 15rem;

        img {
            margin-left: 2rem;
            background-color: $soft-gray;
            width: 100%;
            height: 100%
        }
    }

    .container__form_button {
        @include button-style;
        width: 100%;
        margin: 2rem 0;
        font-size: 1.5rem
    }

    .container__form_loading {
        @include button-style;
        width: 100%;
        margin: 2rem 0;

        &:hover {
            background-color: $black;
        }
    }

    .error {
        border-color: $soft-red  !important;
    }

    .error::placeholder {
        color: $soft-red  !important;
    }
}