@import '../variables.scss';
@import '../mixins.scss';

.container{
    @include container-configs;
    
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;

    .navbar{
        display: none;
    }

    @include desktop-size(){

        display: grid;
        height: 100%;

        .navbar{
            display: block;
            width: 100%;
            padding: 2rem;
        }

    }
}

.container__presentation{
    width: 60%;
    height: 100%;
    padding: 3rem 0;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        display: none;
    }

    .container__presentation_content{
        margin: 0 auto;
        max-width: 100%;
        width: 50rem;

        .container__presentation_logo{
            margin-bottom: 5rem;
        }
    }

    h1{
        margin-bottom: 2rem;
        font-size: 5rem;
        font-weight: 700;
    }

    p{
        color: $gray;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .container__presentation_services{
        margin: 3rem 0;

        li{
            margin-bottom: 1rem;
            display: flex;
            align-items: center;

            img{
                margin-right: 1rem;
                width: 2rem;
            }

            p{
                font-size: 1.6rem;
            }
        }
    }

    .partners{
        margin-top: 5rem;

        p{
            color: $gray;
            font-size: 1.6rem;
            font-weight: 400;
        }
        
        div{
            display: flex;
            align-items: center;

            li>img{
                width: 15rem;
            }
        }

    }

    @include desktop-size() {

        width: 100%;
        padding: 3rem 2rem;
        order: 2;

        .container__presentation_content{
            width: 100%;
            height: 100%;

            .container__presentation_logo{
                display: none !important;
            }

            p{
                max-width: 100%;
                width: 70rem;
                font-size: 1.6rem;

                @include tablet-size{
                    width: 100%;
                }
            }
        }

    }

    @include mobile-size() {

        h1{
            font-size: 3rem;
        }

    }

    @media(max-width: 450px) {

        .partners{
            div{
                flex-wrap: wrap;
            }
        }

    }
}

.container__image{
    width: 40%;
    height: 100%;
    background-image: url(../../assets/Hero-image-desktop.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;

    @include desktop-size() {

        position: static;
        width: 100%;
        height: 40rem;
        background-image: url(../../assets/Hero-image-tablet.jpg);
        order: 1;

    }

    @include tablet-size() {

        height: 30rem;

    }
}