@import '../variables.scss';

.navbar{
    margin-bottom: 2rem;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div{
        display: flex;
        align-items: center;
    }
}